name: Dev CI pipeline

on:
    push:
        branches: ["dev"]
    pull_request:
        branches: ["dev"]
#not working
jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Log in to Docker Hub
              run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

            - name: Build Docker image
              run: docker build -t sharmacu/task:latest .

            - name: Push Docker image
              run: docker push sharmacu/task:latest
